/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #03024a;
  padding: 10px 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: bold;
  margin: 15px 30px;
}

.nav-link:hover {
  /* text-decoration: underline; */
  color: white;
}

main {
  padding-top: 0px; /* Add top padding to avoid content being hidden under the navbar */
}

section {
  padding: 20px 10px;
  /* height: 100vh; */
  scroll-snap-align: start;
}


.CInfo {
  list-style: none;
  padding: 0;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 24px; /* Adjust the size as needed */
  margin-right: 10px;
}

.selected-link {
  /* color: rgb(29, 29, 250); */
  color: white !important;
  font-weight: bold;
  margin: 15px 30px; 
  text-decoration: none;
}



#about {
  background-color: #1e3a8a;;
}

#projects, #skills, #contact {
  background-color: #1e3a8a;;
}
.resume-button {
  background-color: #4442db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  border-color: white;
  width: fit-content;
}

.resume-button:hover {
  background-color: #1e3a8a;
}
.navbar-right {
  margin-left: auto;
  margin-right: 5%;
}

/* Styles for the hamburger menu */
.hamburger {
  display: none;
  padding-left: 15px;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1100; /* Ensure the hamburger icon is on top */
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Styles for Mobile Navigation */
.mobile-nav {
  display: none; /* Hide mobile nav by default */
}

.nav-links {
  display: none; /* Hide nav-links by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #03024a;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000; /* Ensure it's above other content */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Larger text for better visibility */
  margin: 15px 0;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #4442db; /* Change color on hover */
}

.nav-links.open {
  display: flex; /* Show nav-links when open */
  opacity: 1; /* Fade in */
  transform: translateY(0);
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide desktop navbar on mobile */
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }

  .mobile-nav {
    display: block; /* Ensure mobile-nav container is block */
  }
}

@media (min-width: 769px) {
  .navbar {
    display: flex; /* Show desktop navbar */
  }

  .mobile-nav {
    display: none; /* Hide mobile nav on desktop */
  }
}
