@import '@fortawesome/fontawesome-free/css/all.css';

.skills-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e3a8a;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  width: 100%;
}

.skills-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.category {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.category h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

.skill-item i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skill-item span {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 80%;
  }
}